<f:layout name="Default" />
<f:section name="Main">
	<div class="row">
		<div class="col-lg-12">
        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2><span class="error-404"><f:translate key="LLL:EXT:t3wizard/Resources/Private/Language/locallang.xlf:404"/></span></h2>
                    <p><f:translate key="LLL:EXT:t3wizard/Resources/Private/Language/locallang.xlf:404.text"/>:</p>
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="0" />
                </div>
            </div>

        </div>

			
		</div>
	</div>
</f:section>